.winnerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 270px;
  background-image: url(..//../assets/images/woodgrain5.jpg);
  color: gold;
  border: solid 3px gold;
}
.winText{
position: relative;
left: 20%;
}

.button {
  top: 30%;
  right: 20%;
  color: gold;
  height: 40px;
  width: 100px;
  background-color: transparent;
  color: gold;
}
