.winnerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
  background-image: url(..//../assets/images/woodgrain5.jpg);
  color: gold;
  border: solid 3px gold;
}

.button {
color: gold;
height: 60px;
width: 100px;
background-color: brown;
border: solid 2px gold;
color: gold;

}
