<body>
  <div id="gameContainer">
    <input
      type="text"
      matInput
      [(ngModel)]="player1Name"
      id="player1Name"
      placeholder="PLAYER 1"
    />

    <div id="player1">{{ player1Name ? player1Name : "PLAYER 1" }}</div>
    <div></div>
    <!-- <div id="boardContainer"> -->
      <div id="board">
        <div
          *ngFor="let space of spaces"
          id="{{ space.id }}"
          class="{{ space.isPlayable ? 'space' : 'whiteSpace' }}"
        >
          <div
            *ngIf="!space.occupyingPiece"
            (click)="moveSelectedPiece(space.occupyingPiece, space.id)"
            [ngClass]="
              (availableSpace1?.id === space.id &&
                availableSpace1?.isPlayable) ||
              (availableSpace2?.id === space.id && availableSpace2?.isPlayable)
                ? 'availableSpace'
                : ''
            "
          ></div>
          <div
            (click)="moveSelectedPiece(space.occupyingPiece, space.id)"
            *ngIf="
              space.isPlayable &&
              space.occupyingPiece &&
              space.occupyingPiece.playerId === 1
            "
            class="blackPiece"
            [ngClass]="space.occupyingPiece?.isSelected ? 'selected' : ''"
          >
            
          </div>

          <div
            (click)="moveSelectedPiece(space.occupyingPiece, space.id)"
            *ngIf="
              space.isPlayable &&
              space.occupyingPiece &&
              space.occupyingPiece.playerId === 2
            "
            class="redPiece"
            [ngClass]="space.occupyingPiece?.isSelected ? 'selected' : ''"
          >
            
          </div>
        </div>
        <input
          type="text"
          matInput
          [(ngModel)]="player2Name"
          id="player2Name"
          placeholder="PLAYER 2"
        />

        <div id="player2">{{ player2Name ? player2Name : "PLAYER 2" }}</div>
      </div>
    <!-- </div> -->
    <div></div>
  </div>
</body>
