body {
  height: 100vh;
  overflow: hidden;
  background-color: rgb(168, 124, 14);
  display: flex;
  align-items: center;
  justify-content: center;
}

#player1 {
  color: gold;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  bottom: 0%;
  left: 35%;
}

.player1ScoreBoard {
  border: solid 3px gold;
  width: 200px;
  color: gold;
background-image: url(../../../assets/images/woodgrain5.jpg);}
#player1Name {
  font-size: larger;
  margin-left: 60px;
  border: none;
  background-color: goldenrod;
  color: gold;
  background-color: transparent;
}

#player1Score {
  display: flex;
  margin-left: 60px;
  background-color: transparent;
  bottom: 0%;
}

.playerWins {
  margin-right: 20px;
}



#player2 {
  color: gold;
  font-size: 30px;
  position: absolute;
  font-weight: 500;
  top: 0%;
}
.player2ScoreBoard {
  border: solid 3px gold;
 
  width: 200px;
background-image: url(../../../assets/images/woodgrain5.jpg);}
#player2Name {
  font-size: larger;
  margin-left: 50px;
  border: none;
  color: gold;
  background-color: transparent;
}

#player2Score {
  color:gold;
  display: flex;
  margin-left: 50px;
  background-color: transparent;
  top: 0%;
}
#gameContainer {
  position: relative;
  background-color: rgb(83, 21, 21);
  background-image: url("..//..//../assets/images/woodgrain5.jpg");
  border: 5px solid rgba(219, 191, 12, 0.326);
  height: 480px;
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#board {
  background-color: white;
  height: 320px;
  width: 320px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.space {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-image: url("..//..//../assets/images/woodgrain5.jpg");

  background-color: rgb(83, 21, 21);
  border: 1px solid rgba(219, 191, 12, 0.326);
}
.whiteSpace {
  height: 40px;
  width: 40px;
  background-color: white;
  background-image: url("../../../assets/images/woodgrain1.jpg");
  border: 1px solid rgba(219, 191, 12, 0.326);
}

.redPiece {
  font-size: x-small;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  border: 3px solid red;
  background-color: maroon;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.blackPiece {
  font-size: x-small;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border: 3px solid rgb(70, 67, 67);
  background-color: rgb(33, 30, 30);
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.blackKingPiece {
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gold;
  border: 3px solid gold;
  background-color: rgb(33, 30, 30);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 0px 0px 7px 7px yellow;
}
.redKingPiece {
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gold;
  border: 3px solid gold;
  background-color: maroon;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 0px 0px 7px 7px yellow;
}

.blackPiece.selected {
  border: 3px solid white;
  color: gold;
  animation: selectedBlackEffect 0.5s alternate-reverse infinite;
}
@keyframes selectedBlackEffect {
  from {
    background-color: black;
  }
  to {
    background-color: yellow;
  }
}
.blackKingPiece.selected {
  border: 3px solid gold;
  color: gold;
  animation: selectedBlackKingEffect 0.5s alternate-reverse infinite;
}
@keyframes selectedBlackKingEffect {
  from {
    background-color: black;
  }
  to {
    background-color: #e60073;
  }
}

.redPiece.selected {
  border: 3px solid white;
  background-color: #e60073;
  color: white;
  animation: selectedRedEffect 0.5s alternate-reverse infinite;
}
@keyframes selectedRedEffect {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}
.redKingPiece.selected {
  border: 3px solid white;
  background-color: #e60073;
  color: white;
  animation: selectedRedKingEffect 0.5s alternate-reverse infinite;
}
@keyframes selectedRedKingEffect {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}

.availableSpace {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 2px solid yellow;
  height: 30px;
  width: 30px;
  animation: availableSpaceAnimation 1s alternate-reverse infinite;
}

@keyframes availableSpaceAnimation {
  from {
    box-shadow: 0px 0px 5px 5px white;
  }
  to {
    box-shadow: 0px 0px 7px 7px pink;
  }
}
