/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field-label-wrapper{
    background-color: aliceblue;
    color:black;
}

.mat-dialog-container {
    padding: 0!important;
}

#player1Name.mat-input-element::placeholder{
    color: gold;
 }

 #player2Name.mat-input-element::placeholder{
    color: gold;
 }